{% load static %}

<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock title %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <style>
    </style>
</head>

<body class="d-flex h-100 text-center bg-light">
    <header class="mb-auto">
        {% block header %}
            <div class="container">
            {% include 'navbar.html' %}
            </div>
        {% endblock header %}
    </header>

    <main>
    {% block content %}
    {% endblock content %}
    </main>

    {% block footer %}
      <footer class="mt-auto text-white-50">
      </footer>
    {% endblock footer %}

</body>
</html>